[Desktop Entry]
Name=WinBolo
Comment=WinBolo Tank Game
Exec=winbolo %u
Icon=winbolo
Type=Application
Categories=Game;
MimeType=x-scheme-handler/winbolo;
